html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#matrixtheme {
    background: #222222;
    background-attachment: fixed;
    font-family: monospace;
    color: #0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#terminal {
    width: 80%;
    min-height: 100px;
    position: relative;   
    border: 1px #0f0 solid;
}

#input {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inputfield {
    background: black;
    color: #0f0;
    border: 1px #0f0 solid;
    font-family: monospace;
}

#inputbutton {
    background: black;
    color: #0f0;
    font-family: monospace;
}

/* J2o's CSS Pack v1.1 by Joona Tyni */

/* Colors */

.j2o-bg-red {
    background: #F00;
}

.j2o-bg-orange {
    background: #f90;
}

.j2o-bg-yellow {
    background: #ff0;
}

.j2o-bg-green {
    background: #0f0;
}

.j2o-bg-blue {
    background: #00f;
}

.j2o-bg-purple {
    background: #f0f;
}

.j2o-bg-pink {
    background: #ff8da1;
}

.j2o-bg-grey {
    background: #aaa;
}

.j2o-bg-lightgrey {
    background: #ddd;
}

.j2o-bg-darkgrey {
    background: #333;
}

.j2o-bg-white {
    background: #fff;
}

.j2o-bg-black {
    background: #000;
}

.j2o-red {
    color: #F00;
}

.j2o-orange {
    color: #f90;
}

.j2o-yellow {
    color: #ff0;
}  

.j2o-green {
    color: #0f0;
}

.j2o-blue {
    color: #00f;
}

.j2o-purple {
    color: #f0f;
}

.j2o-pink {
    color: #ff8da1;
}

.j2o-grey {
    color: #aaa;
}

.j2o-lightgrey {
    color: #ddd;
}

.j2o-darkgrey {
    color: #333;
}

.j2o-white {
    color: #fff;
}

.j2o-black {
    color: #000;
}

/* Fonts */

.j2o-h1 {
    font-size: 32px;
}

.j2o-h2 {
    font-size: 24px;
}

.j2o-h3 {
    font-size: 18px;
}

.j2o-h4 {
    font-size: 16px;
}

.j2o-h5 {  
    font-size: 14px;    
}

.j2o-h6 {
    font-size: 12px;
}

.j2o-p {
    font-size: 12px;
}

.j2o-h1, .j2o-h2, .j2o-h3, .j2o-h4 {
    font-weight: bold;
}

.j2o-p, .j2o-h5, .j2o-h6 {
    line-height: 1.5;
}

.j2o-centered-text {
    text-align: center;
}

/* Displays */

.j2o-dp-block {
    display: block;
}

.j2o-dp-inline {
    display: inline;
}

.j2o-dp-inline-block {
    display: inline-block;
}

.j2o-dp-none {
    display: none;
}

.j2o-dp-flex {
    display: flex;
}

.j2o-dp-inline-flex {
    display: inline-flex;
}

.j2o-dp-grid {
    display: grid;
}

.j2o-dp-inline-grid {
    display: inline-grid;
}

.j2o-dp-table {
    display: table;
}

.j2o-dp-inline-table {
    display: inline-table;
}

.j2o-dp-table-row {
    display: table-row;
}   

.j2o-dp-table-cell {
    display: table-cell;
}

.j2o-dp-table-caption {
    display: table-caption;
}

.j2o-dp-table-column {
    display: table-column;
}   

.j2o-dp-table-column-group {
    display: table-column-group;
}

.j2o-dp-table-header-group {
    display: table-header-group;
}

.j2o-dp-table-footer-group {
    display: table-footer-group;
}

.j2o-dp-table-row-group {
    display: table-row-group;
}

.j2o-dp-table-cell-group {
    display: table-cell-group;
}

.j2o-dp-flex-row {
    display: flex;
    flex-direction: row;
}   

.j2o-dp-flex-column {
    display: flex;
    flex-direction: column;
}

.j2o-dp-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.j2o-dp-flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}   

.j2o-dp-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.j2o-dp-flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.j2o-dp-flex-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

.j2o-dp-flex-fill {
    display: flex;
    flex: 1 1 auto;
}

.j2o-dp-flex-grow {
    display: flex;
    flex-grow: 1;
}

.j2o-dp-flex-shrink {
    display: flex;
    flex-shrink: 1;
}   

.j2o-dp-flex-none {
    display: flex;
    flex: none;
}   

.j2o-dp-flex-auto {
    display: flex;
    flex: auto;
}

.j2o-dp-flex-stretch {
    display: flex;
    flex: 1 1 100%;
}

/* Containers */

.j2o-container {
    display: flex;
}

.j2o-container-column {
    display: flex;
    flex-direction: column;
}

.j2o-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.j2o-container-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Border Colors */

.j2o-b-red {
    border-color: #F00;
}

.j2o-b-orange {
    border-color: #f90;
}

.j2o-b-yellow {
    border-color: #ff0;
}

.j2o-b-green {
    border-color: #0f0;
}

.j2o-b-blue {
    border-color: #00f;
}

.j2o-b-purple {
    border-color: #f0f;
}

.j2o-b-pink {
    border-color: #ff8da1;
}

.j2o-b-grey {
    border-color: #aaa;
}

.j2o-b-lightgrey {
    border-color: #ddd;
}

.j2o-b-darkgrey {
    border-color: #333;
}

.j2o-b-white {  
    border-color: #fff;
}

.j2o-b-black {
    border-color: #000;
}

/* Border Styles */

.j2o-b-solid {
    border-style: solid;
}

.j2o-b-dashed {
    border-style: dashed;
}

.j2o-b-dotted {
    border-style: dotted;
}

.j2o-b-double {
    border-style: double;
}

.j2o-b-none {
    border-style: none;
}

/* Border Widths */

.j2o-bw-0 {
    border-width: 0px;
}

.j2o-bw-1 {
    border-width: 1px;
}

.j2o-bw-2 {
    border-width: 2px;
}

.j2o-bw-3 {
    border-width: 3px;
}

.j2o-bw-4 {
    border-width: 4px;
}

.j2o-bw-5 {
    border-width: 5px;
}

.j2o-bw-6 {
    border-width: 6px;
}  

.j2o-bw-7 {      
    border-width: 7px;
}

.j2o-bw-8 {
    border-width: 8px;
}

.j2o-bw-9 {
    border-width: 9px;
}

.j2o-bw-10 {
    border-width: 10px;
}

.j2o-bw-15 {
    border-width: 15px;
}

/* Border Radius */

.j2o-br-5 {
    border-radius: 5px;
}

.j2o-br-10 {
    border-radius: 10px;
}

.j2o-br-15 {
    border-radius: 15px;
}

.j2o-br-20 {
    border-radius: 20px;
}

.j2o-br-25 {
    border-radius: 25px;
}

.j2o-br-30 {
    border-radius: 30px;
}

.j2o-br-35 {
    border-radius: 35px;
}

.j2o-br-40 {
    border-radius: 40px;
}

.j2o-br-45 {
    border-radius: 45px;
}

.j2o-br-50, .j2o-br-max, .j2o-br-full {
    border-radius: 50px;
}

/* Widths */

.j2o-w-50 {
    width: 50%;
}

.j2o-w-100 {
    width: 100%
}