* {
    transition: .3s;
}

:root {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.chi1 {
    transition: 6s;
    animation: chi1 6s infinite;
}

.chi2 {
    transition: 6s;
    animation: chi2 6s infinite;
}

@keyframes chi1 {
    0% {transform:translateY(100px);}
    50% {transform:translateY(-100px);}
    100% {transform: translateY(100px);}
}

@keyframes chi2 {
    0% {transform:translateY(-100px);}
    50% {transform:translateY(100px);}
    100% {transform: translateY(-100px);}
}

@media only screen and (max-width: 800px) {
    .chi1, .chi2 {
        display: none;
    }
}

.title:hover {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1s;
}

button:hover {
    transform: scale(1.1);
} 