body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(180deg, #1F232C 50%, #00ECFD);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    min-height: 100vh;
    margin: 0;
}

.card {
    background: #20242D;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 15px 2px black;
    width: 80%
}

.logo {
    width: 25%;
    height: auto;
    margin-right: 25%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.btn {
    width: 120px;
    height: 40px;
    background: #01E9FA;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 8px 0px #01E9FA;
    font-family: 'Poppins';
    font-style: normal;
}

.seperator {
    margin: 10px;
}

.icons {
    width: 45px;
    height: auto;
}